﻿@charset "UTF-8";
/*!normalize.scss v0.1.0 | MIT License | based on git.io/normalize */ html {
    /*font-family: sans-serif;*/
    font-family: Raleway;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden], template {
    display: none;
}

a {
    background-color: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    text-align: left;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code, kbd, pre, samp {
    /*font-family: monospace,monospace;*/
    font-family: Raleway;
    font-size: 1em;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

header.navigation {
    background-color: #0021A5;
    border-bottom: 1px solid #010b1d;
    width: 100%;
    z-index: 999;
    font-size: 1.19rem;
    color: #fff;
    position: relative;
    height: 80px;
}

    header.navigation .thing {
        display: none;
        position: absolute;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        right: 0;
        top: 0;
        height: 100%;
    }

@media screen and (min-width:50rem) {
    header.navigation .thing {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

header.navigation .thing .thing-box-1 {
    background: #082C62;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header.navigation .thing .thing-box-2 {
    background: #365E92;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

header.navigation .thing-back {
    z-index: 0;
    width: 50%;
}

header.navigation .thing-front {
    width: 30%;
    z-index: 5;
    margin-right: -22px;
    transform: skewX(-20deg) translateX(80%);
}

header.navigation .navigation-wrapper {
    max-width: 71.875rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
}

    header.navigation .navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }

    header.navigation .navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }

@media screen and (min-width:50rem) {
    header.navigation .navigation-wrapper {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
    }
}

header.navigation .navigation-wrapper > .inner {
    width: 100%;
}

@media screen and (min-width:50rem) {
    header.navigation .navigation-wrapper > .inner {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

header.navigation .navigation-wrapper > .header {
    margin: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

@media screen and (min-width:50rem) {
    header.navigation .navigation-wrapper > .header {
        margin: 0;
    }
}

header.navigation .logo {
    float: left;
    padding-right: 2rem;
    margin-bottom: -2px;
}

    header.navigation .logo img {
        height: 68px;
    }

header.navigation .shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
}

    header.navigation .shapes .inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

@media screen and (min-width:50rem) {
    header.navigation .shapes .inner {
        margin-left: -160px;
    }
}

header.navigation .shapes .shape1, header.navigation .shapes .shape2 {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid rgba(117,151,190,0.2);
}

@media screen and (min-width:50rem) {
    header.navigation .shapes .shape1, header.navigation .shapes .shape2 {
        top: auto;
        bottom: 0;
        border-left: 300px solid transparent;
        border-right: 300px solid transparent;
        border-top: 200px solid rgba(117,151,190,0.2);
    }
}

header.navigation .shapes .shape1 {
    transform: skewX(20deg);
}

header.navigation .shapes .shape2 {
    transform: skewX(-20deg);
    left: -40px;
}

header.navigation .title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: -0.2rem;
    margin-top: 0px;
}

    header.navigation .title a {
        color: #FFEFCF;
        /*text-decoration: underline;*/
        font-size: 2.5rem;
    }

    header.navigation .title span {
        font-weight: 400;
    }

@media screen and (min-width:50rem) {
    header.navigation .title {
        font-size: 2.50rem;
        margin-bottom: -0.75rem;
    }

        header.navigation .title a {
            margin-left: -0.25rem;
        }
}

header.navigation .tagline {
    font-size: .8rem;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
    margin-top: 20px;
    margin-right: 17px;
    margin-left: -18px;
    color: #FFEFCF;
}

header.navigation .logo-area {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    z-index: 6;
    position: relative;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (min-width:50rem) {
    header.navigation .logo-area {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        padding: 1rem;
    }
}

@media screen and (min-width:71.875rem) {
    header.navigation .logo-area {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-lines: single;
        -moz-box-lines: single;
        box-lines: single;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-left: -75px;
        margin-top: 0px;
    }
}

header.navigation .menus {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    z-index: 4;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    box-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
    -ms-flex-align: end;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: right;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .2s ease-out;
    opacity: 0;
    position: absolute;
}

    header.navigation .menus.show {
        transform: scaleY(1);
        position: relative;
        opacity: 1;
        height: 70px;
    }

    header.navigation .menus.show_new {
        transform: scaleY(1);
        position: relative;
        opacity: 1;
        height: 70px;
        background-color: transparent;
    }


@media screen and (min-width:50rem) {
    header.navigation .menus {
        background: #0021A5;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        float: none;
        transform: scaleY(1);
        opacity: 1;
        position: relative;
    }
}

header.navigation .navigation-menu-button {
    color: #0021A5;
    display: block;
    padding: 28px 30px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 110;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1;
    width: 100%;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (min-width:50rem) {
    header.navigation .navigation-menu-button {
        display: none;
        -webkit-box-ordinal-group: 0;
        -moz-box-ordinal-group: 0;
        box-ordinal-group: 0;
        -webkit-order: 0;
        -moz-order: 0;
        order: 0;
        -ms-flex-order: 0;
    }
}

header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
    color: #0021A5;
}

header.navigation .navigation-menu-button span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    margin-top: 30px;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 1px #0021A5,0 7px 0 1px #0021A5,0 14px 0 1px #0021A5;
    width: 16px;
}

header.navigation nav {
    float: right;
    z-index: 1;
    margin-top:-5px;
}

@media screen and (min-width:50rem) {
    header.navigation nav {
        float: left;
    }
}

header.navigation nav.main-menu {
    width: 105%;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2;
    transition: all .2s;
}

@media screen and (min-width:50rem) {
    header.navigation nav.main-menu {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        background: rgba(236, 235, 235, 0.84);
        padding-left: 2rem;
        padding-right: 2rem;
        -webkit-box-ordinal-group: 0;
        -moz-box-ordinal-group: 0;
        box-ordinal-group: 0;
        -webkit-order: 0;
        -moz-order: 0;
        order: 0;
        -ms-flex-order: 0;
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        box-flex: 2;
        -webkit-flex: 2;
        -moz-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin-top: -8px;
    }
}

@media screen and (min-width:71.875rem) {
    header.navigation nav.main-menu {
        padding-right: 4rem;
   
    }
}
/*screen and (min-width:50rem) and (max-width:46.1875rem)*/
@media screen and (max-width:46.1875rem)  {
    header.navigation nav.main-menu {
       
        font-size:medium;
        width:210px;
        margin-top: 25px;
    }
}

@media screen and (max-width:46.1875rem){
    header.navigation nav.main-menu {
       
        font-size:medium;
        width:210px;
        margin-top: 30px;
    }
}

@media screen and (max-width:50rem){
    header.navigation nav.main-menu {
       
        font-size:medium;
        width:210px;
        margin-top: 27px;
    }
}

    
header.navigation nav.top-menu {
    width: 100%;
    font-size: .8rem;
    text-transform: none;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    -webkit-order: 3;
    -moz-order: 3;
    order: 3;
    -ms-flex-order: 3;
    transition: all .2s;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu {
        -webkit-box-ordinal-group: 0;
        -moz-box-ordinal-group: 0;
        box-ordinal-group: 0;
        -webkit-order: 0;
        -moz-order: 0;
        order: 0;
        -ms-flex-order: 0;
        width: auto;
        margin-top: 21px;
        margin-bottom: 11px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch;
    }
}

header.navigation nav.top-menu .inner {
    position: relative;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav {
        padding-right: 1rem;        
    }
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav ul {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -ms-flex-direction: row;
    }
}

header.navigation nav.top-menu .protected-nav li {
    display: block;
    width: 100%;
    z-index: 9999;
    text-transform: uppercase;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    background-color: #0021A5;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav li {
        position: relative;
        height: 100%;
        width: auto;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
    }
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav li:after {
        content: "|";
        position: absolute;
        right: 0;
        color: rgba(255,255,255,0.8);
    }
}

header.navigation nav.top-menu .protected-nav li a {
    padding: .75rem 1.1rem;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav li a {
        padding: .5rem 1rem;
    }
}

header.navigation nav.top-menu .protected-nav li a:focus, header.navigation nav.top-menu .protected-nav li a:hover {
    color: white;
}

header.navigation nav.top-menu .protected-nav li:last-of-type:after {
    display: none;
}

header.navigation nav.top-menu .protected-nav li:last-of-type a {
    padding-right: 0;
    color: #fff;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .protected-nav {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch;
    }
}

header.navigation nav.top-menu .search-bar {
    background: #FA4616;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 2.625rem;
    text-transform: uppercase;
    border-top: 1px solid #2468af;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .search-bar {
        border: 0;
        border-radius: 15px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 2.625rem;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        box-align: stretch;
        -webkit-align-items: stretch;
        -moz-align-items: stretch;
        -ms-align-items: stretch;
        -o-align-items: stretch;
        align-items: stretch;
        -ms-flex-align: stretch;
    }
}

header.navigation nav.top-menu .search-bar input[type="text"] {
    background: transparent;
    width: 100%;
    border: 0;
    outline: none;
    border-color: transparent;
    padding: .35rem 0;
}

@media screen and (min-width:50rem) {
    header.navigation nav.top-menu .search-bar input[type="text"] {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

header.navigation nav.top-menu .search-bar input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase;
}

header.navigation nav.top-menu .search-bar input[type="text"]:-moz-placeholder {
    color: #7597be;
    text-transform: uppercase;
}

header.navigation nav.top-menu .search-bar input[type="text"]::-moz-placeholder {
    color: #7597be;
    text-transform: uppercase;
}

header.navigation nav.top-menu .search-bar input[type="text"]:-ms-input-placeholder {
    color: #7597be;
    text-transform: uppercase;
}

header.navigation nav.top-menu .search-bar a.fa-search {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-top: -2px;
    padding-right: 2rem;
    padding-left: 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
}

header.navigation ul.navigation-menu {
    clear: both;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 63%;
    z-index: 9999;
}

    header.navigation ul.navigation-menu.show {
        display: block;
    }

@media screen and (min-width:50rem) {
    header.navigation ul.navigation-menu {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
    }
}

header.navigation ul li {
    border-top: 1px solid #2468af;
}

@media screen and (min-width:50rem) {
    header.navigation ul li {
        border: 0;
    }
}

header.navigation ul li a {
    /*color:rgba(255,255,255,0.8)*/
    color: #0021A5;
}

header.navigation .submenu li a {
    /*color:rgba(255,255,255,0.8)*/
    color: #fff;
}


header.navigation ul li.nav-link {
    display: block;
    width: 100%;
    z-index: 9999;
    text-transform: capitalize;
    font-weight: 500;
}

@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link {
        background: #0021A5;
    }
}

header.navigation ul li.nav-link.home-link .home-icon {
    font-size: 1.5rem;
    display: block;
    
}

@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link.home-link .home-icon {
        display: block;
        
    }
}

header.navigation ul li.nav-link.home-link .home-label {
    display: block;
}


@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link.home-link .home-label {
        display: none;
    }
}

@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link {
        background: transparent;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        text-decoration: none;
        width: auto;
    }
}

header.navigation ul li.nav-link a {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    text-decoration: none;
    position: relative;
    padding: .75rem .5rem;
}

@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link a {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
    }
}

header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
    color: #FA4616;
}

@media screen and (min-width:50rem) {
    header.navigation ul li.nav-link a::after {
        content: '';
        height: 0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #FA4616;
        transition: all .2s;
    }

    header.navigation ul li.nav-link.active-nav-item > a::after, header.navigation ul li.nav-link:hover > a::after {
        height: 12px;
        bottom: -6px;
    }
}

header.navigation li.more.nav-link > ul > li:first-child a span {
    padding-top: .7em;
}

header.navigation li.more.nav-link > a span {
    margin-right: 1rem;
}

@media screen and (min-width:50rem) {
    header.navigation li.more.nav-link > a span {
        position: relative;
    }
}

header.navigation li.more.nav-link > a span::after {
    position: absolute;
    top: -0.25rem;
    bottom: auto;
    left: auto;
    content: '\f107';
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (min-width:50rem) {
    header.navigation li.more.nav-link > a span::after {
        right: -1rem;       
    }
}

header.navigation li.more {
    overflow: visible;
    padding-right: 0;
}

    header.navigation li.more > a {
        position: relative;
    }

        header.navigation li.more > a span::after {
            content: '\f105';
            /*font-family: "FontAwesome";*/
            font-family: "FontAwesome";
            font-size: 1.2em;
            position: absolute;
            right: .5rem;
        }

@media screen and (min-width:50rem) {
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
        opacity: 1;
        pointer-events: all;
    }
}

header.navigation li.more.show > .submenu {
    transform: scaleY(1);
    pointer-events: all;
    position: relative;
    opacity: 1;
}

@media screen and (min-width:50rem) {
    header.navigation li.more {
        position: relative;
    }
}

header.navigation ul.submenu {
    pointer-events: none;
    padding-left: 0;
    text-transform: none;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .2s ease-out;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

@media screen and (min-width:50rem) {
    header.navigation ul.submenu {
        top: 100%;
        left: -1rem;
        transform: scaleY(1);
        width: auto;
        overflow: visible;
    }
}


header.navigation ul.submenu .submenu li {
    background: #e63e00;
}

    header.navigation ul.submenu .submenu li:hover {
        background: #FFEFCF;
    }

header.navigation ul.submenu .submenu .submenu li {
    background: #cc3700;
}

    header.navigation ul.submenu .submenu .submenu li:hover {
        background: #bd3300;
    }

@media screen and (min-width:50rem) {
    header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0;
    }
}

@media screen and (min-width:50rem) {
    header.navigation ul.submenu .parent-navlink {
        display: none;
    }
}

header.navigation ul.submenu li {
    display: block;
    padding-right: 0;
    background: #FA4616;
    transition: background .2s;
}

    header.navigation ul.submenu li:hover {
        background: #FFEFCF;
        /*float: left;*/
    }
   

@media screen and (min-width:50rem) {
    header.navigation ul.submenu li {
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

        header.navigation ul.submenu li:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
}

@media screen and (min-width:50rem) and (max-width:46.1875rem) {
    header.navigation ul.submenu li {
        background: #041c4d;
    }
}

header.navigation ul.submenu li a {
    display: inline-block;
    width: 100%;
}

@media screen and (min-width:50rem) {
    header.navigation ul.submenu li a {
        padding-left: 1rem;
        width: 12em;
    }
}


header.navigation ul.submenu1 li {
    display: none;
    padding-right: 0;
    background: #FA4616;
    transition: background .2s;
}


@media screen and (min-width:50rem) {
    header.navigation ul.submenu1 li {
        border-bottom: 1px solid rgba(255,255,255,0.1);
        display: none;
    }

        header.navigation ul.submenu1 li:hover:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            float: left;
            display: inline-block;
        }

    header.navigation ul.submenu1 li {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        display: none;
        float: left;
    }
}

@media screen and (min-width:50rem) and (max-width:46.1875rem) {
    header.navigation ul.submenu1 li {
        background: #041c4d;
    }
}

header.navigation ul.submenu1 li a {
    display: inline-block;
    width: 100%;
    float: left;
}

@media screen and (min-width:50rem) {
    header.navigation ul.submenu1 li a {
        padding-left: 1rem;
        width: 12em;
    }
}


.breadcrumb {
    padding: 20px 0 10px;
    text-transform: capitalize;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway";
    font-size: 1.25rem;
    margin-top: 20px;
}

    .breadcrumb a, .breadcrumb span {
        display: inline-block;
    }

        .breadcrumb a.proper-noun, .breadcrumb span.proper-noun {
            text-transform: none;
        }

    .breadcrumb a {
        font-weight: bold;
    }

        .breadcrumb a::after {
            content: ' / ';
            color: #FA4616;
        }

    .breadcrumb .wrap {
        max-width: 880px;
    }




.breadcrumb3 {
    padding: 20px 0 10px;
    text-transform: lowercase;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway";
    font-size: 1.25rem;
    margin-left: -72px;
    margin-top: 90px;
}

    .breadcrumb3 a, .breadcrumb3 span {
        display: inline-block;
    }

        .breadcrumb3 a.proper-noun, .breadcrumb3 span.proper-noun {
            text-transform: none;
        }

    .breadcrumb3 a {
        font-weight: bold;
    }

        .breadcrumb3 a::after {
            content: ' / ';
            color: #FA4616;
        }

    .breadcrumb3 .wrap {
        max-width: 880px;
    }

.banner {
    position: relative;
    z-index: 1;
}

    .banner .image {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        min-height: 400px;
        max-height: 400px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        margin-top: 76px;
    }

@media screen and (min-width:62.5rem) {
    .banner .image {
        height: 75vh;
    }
}

.banner .image.has-text::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: background .3s;
    /*background: rgba(0,0,0,0.6);*/
}

@media screen and (min-width:46.1875rem) {
    .banner .image.has-text::before {
        background: linear-gradient(to bottom,transparent 50%,transparent 33.33%,rgba(202,30,7,0) 0,rgba(41,41,41,0.7) 60%);
    }
}

.banner .wrap {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media screen and (min-width:46.1875rem) {
    .banner .wrap {
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
    }
}

.banner .title {
    font-size: 2.5rem;
    color: white;
    margin-top: 300px;
}

.banner .text {
    padding: 15px;
    text-align: center;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway";
}

@media screen and (min-width:62.5rem) {
    .banner .text {
        max-width: 100%;
        margin: 0 auto;
    }
}

.banner .buttons {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin: -2rem 0 0 -2rem;
    padding: 30px 0;
    flex-direction: column;
}

@media screen and (min-width:46.1875rem) {
    .banner .buttons
{
    flex-direction: row;
}

}

.banner a.button {
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway";
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.0rem;
    font-weight: normal;
    text-align: center;
    padding: .5rem;
    margin: 2rem 0 0 2rem;
}

@media screen and (max-width:46.1875rem) {
    .banner a.button

{
    padding: 1rem;
}

}

@media screen and (min-width:46.1875rem) {
    .banner a.button

{
    -webkit-flex-basis: 115px;
    -moz-flex-basis: 115px;
    flex-basis: 115px;
    -ms-flex-preferred-size: 115px;
}

}

.cards {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
    padding: 40px 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

@media screen and (max-width:46.1875rem) {
    .cards
{
    display: block;
}

}

.cards .card {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 350px;
    -moz-flex: 1 0 350px;
    -ms-flex: 1 0 350px;
    flex: 1 0 350px;
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 0.86rem;
}

@media screen and (min-width:740px) {
    .cards .card
{
    max-width: calc(50% - 20px);
}

}

@media screen and (min-width:1110px) {
    .cards .card
{
    max-width: calc(33.33333% - 20px);
}

}

@media screen and (min-width:1050px) {
    .cards .card
{
    min-width: calc(33.33333% - 20px);
}

}

.cards .card.has-link:hover .inner, .cards .card.has-link:hover .inner-circle {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

    .cards .card.has-link:hover .inner .content h1 a::after, .cards .card.has-link:hover .inner .content h2 a::after, .cards .card.has-link:hover .inner .content h3 a::after, .cards .card.has-link:hover .inner .content h4 a::after, .cards .card.has-link:hover .inner .content h5 a::after, .cards .card.has-link:hover .inner .content h6 a::after, .cards .card.has-link:hover .inner-circle .content h1 a::after, .cards .card.has-link:hover .inner-circle .content h2 a::after, .cards .card.has-link:hover .inner-circle .content h3 a::after, .cards .card.has-link:hover .inner-circle .content h4 a::after, .cards .card.has-link:hover .inner-circle .content h5 a::after, .cards .card.has-link:hover .inner-circle .content h6 a::after {
        margin: 0 0 0 .75rem;
    }

.cards .card.has-link .content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

    .cards .card.has-link .content h1 a[href]::after, .cards .card.has-link .content h2 a[href]::after, .cards .card.has-link .content h3 a[href]::after, .cards .card.has-link .content h4 a[href]::after, .cards .card.has-link .content h5 a[href]::after, .cards .card.has-link .content h6 a[href]::after {
        /*content: '\f105';*/
        margin: 0 .25rem 0 .5rem;
        /*font-family: "FontAwesome";*/
        font-family: "Raleway";
        transition: margin .1s;
    }

.cards .card.has-link .meta {
    background-color: #999;
    color: white;
    padding: 12px 25px;
    order: 3;
}

    .cards .card.has-link .meta a {
        border-bottom: 1px solid;
        position: relative;
        z-index: 999;
        color: white;
    }

    .cards .card.has-link .meta .tags {
        font-size: .8em;
    }

        .cards .card.has-link .meta .tags .tag {
            display: inline-block;
            padding-bottom: 5px;
        }

            .cards .card.has-link .meta .tags .tag::after {
                content: '\00b7';
                margin: 0 5px;
                border-bottom: 0;
            }

            .cards .card.has-link .meta .tags .tag:last-of-type::after {
                display: none;
            }

.cards .card .inner, .cards .card .inner-circle {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    transition: all .35s;
}

.cards .card .header {
    overflow: hidden;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-order: 1;
    -moz-order: 1;
    order: 1;
    -ms-flex-order: 1;
}

.cards .card .content {
    padding: 20px 25px;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2;
}

    .cards .card .content a {
        z-index: 105;
        position: relative;
        cursor: pointer;
    }

.cards .card h1, .cards .card h2, .cards .card h3, .cards .card h4, .cards .card h5, .cards .card h6 {
    font-weight: normal;
}

.cards .card h2 {
    font-size: 1.4375rem;
}

.cards .card h3, .cards .card h4, .cards .card h5, .cards .card h6 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.cards .card a.full-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cards .card .image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    min-height: 250px;
    position: relative;
}

.cards .card .categories a.button {
    color: #041c4d;
    background: transparent;
    border: 1px solid #041c4d;
    padding: 6px;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-right: .5rem;
    font-size: .75rem;
}

    .cards .card .categories a.button:hover, .cards .card .categories a.button.active {
        background: #041c4d;
        color: #fff;
    }

.cards .card p.excerpt {
    margin-bottom: 0;
}

@media screen and (min-width:43.75rem) {
    .cards .card.important, .cards .card.featured {
        -webkit-box-flex: none;
        -moz-box-flex: none;
        box-flex: none;
        -webkit-flex: none;
        -moz-flex: none;
        -ms-flex: none;
        flex: none;
    }

        .cards .card.important .content-wrapper, .cards .card.featured .content-wrapper {
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            box-orient: horizontal;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            box-direction: normal;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            flex-direction: row;
            -ms-flex-direction: row;
        }

        .cards .card.important .header, .cards .card.featured .header {
            -webkit-box-flex: 3;
            -moz-box-flex: 3;
            box-flex: 3;
            -webkit-flex: 3;
            -moz-flex: 3;
            -ms-flex: 3;
            flex: 3;
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            box-ordinal-group: 2;
            -webkit-order: 2;
            -moz-order: 2;
            order: 2;
            -ms-flex-order: 2;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            box-direction: normal;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
        }

        .cards .card.important .content, .cards .card.featured .content {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;
            -webkit-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            box-ordinal-group: 1;
            -webkit-order: 1;
            -moz-order: 1;
            order: 1;
            -ms-flex-order: 1;
        }

        .cards .card.important .image, .cards .card.important figure:first-of-type, .cards .card.featured .image, .cards .card.featured figure:first-of-type {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            box-flex: 1;
            -webkit-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            box-orient: vertical;
            -webkit-box-direction: normal;
            -moz-box-direction: normal;
            box-direction: normal;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
        }

    .cards .card.normal, .cards .card.important {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1 0 300px;
        -moz-flex: 1 0 300px;
        -ms-flex: 1 0 300px;
        flex: 1 0 300px;
        margin-left: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }
}

@media screen and (min-width:43.75rem) and (min-width:640px) {
    .cards .card.normal, .cards .card.important {
        max-width: calc(50% - 20px);
    }
}

@media screen and (min-width:43.75rem) and (min-width:600px) {
    .cards .card.normal, .cards .card.important {
        min-width: calc(50% - 20px);
    }
}

@media screen and (min-width:43.75rem) {
    .cards .card.normal .content, .cards .card.important .content {
        padding: 20px;
    }

    .cards .card.featured {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1 0 300px;
        -moz-flex: 1 0 300px;
        -ms-flex: 1 0 300px;
        flex: 1 0 300px;
        margin-left: 20px;
        margin-top: 20px;
        box-sizing: border-box;
    }
}

@media screen and (min-width:43.75rem) and (min-width:640px) {
    .cards .card.featured {
        max-width: calc(50% - 20px);
    }
}

@media screen and (min-width:43.75rem) and (min-width:320px) {
    .cards .card.featured {
        max-width: calc(100% - 20px);
    }
}

@media screen and (min-width:43.75rem) and (min-width:300px) {
    .cards .card.featured {
        min-width: calc(100% - 20px);
    }
}

.cards .card.featured h2 {
    font-size: 2rem;
}

.cards .card a.button.cta {
    position: absolute;
    bottom: 0;
    transform: translate(-50%,50%);
    left: 50%;
    background: #fff;
    color: #041c4d;
    border: 2px solid #041c4d;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
}

    .cards .card a.button.cta:hover {
        color: #fff;
        background: #3a559c;
    }

.cards .card dl {
    color: #808080;
}

    .cards .card dl dt {
        min-width: 100px;
        display: inline-block;
        float: left;
        width: 20%;
    }

    .cards .card dl dd {
        font-weight: bold;
        display: inline;
        margin: 0;
    }

        .cards .card dl dd::after {
            display: block;
            content: '';
        }

.cards .card dl {
    width: 100%;
    overflow: hidden;
}

.cards .card dd {
    float: left;
    width: 80%;
}

.institution.cards .card {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 0 300px;
    -moz-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    margin-left: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

@media screen and (min-width:640px) {
    .institution.cards .card
{
    /*max-width: calc(50% - 20px);*/
}

}

@media screen and (min-width:600px) {
    .institution.cards .card
{
    /*min-width: calc(50% - 20px);*/
    text-align:center;
}

}

.institution.cards .card .content {
    padding: 20px;
}

.circlecard .card {
    margin-bottom: 0;
}

.circlecard.people.cards .card {
    padding-top: 90px;
}

    .circlecard.people.cards .card .inner {
        padding-top: 90px;
    }

.home .cards-container .circlecard .card .header .image {
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0;
    height: 170px;
    width: 200px;
}

.image-collabration {
    /*background-size: contain;*/
    background-repeat: no-repeat;
    border-radius: 0;
    height: 250px;
    width: 250px;
    margin-top: 70px;
    margin-left: 70px;
}

.inner-content .card .inner, .inner-content .card .inner-small, .inner-content .card .inner-circle {
    background-color: #f2f2f2;
}

.small .card {
    justify-content: center;
}

    .small .card .header-small {
        display: inline;
        float: left;
        margin-right: 16px;
    }

    .small .card .image-small {
        background-size: contain;
        border-radius: 0;
        height: 80px;
        max-width: 80px;
        width: 80px;
    }

    .small .card .content-small {
        display: inline;
        float: left;
        font-size: 1rem;
        font-weight: bold;
        width: 200px;
    }

@media screen and (max-width:69.25rem) {
    .small .card

{
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #f2f2f2;
    margin: 40px auto;
    max-width: 380px;
    padding: 30px 0;
}

}

@media screen and (max-width:46.1875rem) {
    .small .card:first-child
{
    margin-top: 0;
}

}

.meta-card {
    margin-top: -60px;
    max-width: none;
}

    .meta-card .card {
        margin-top: 0;
        max-width: none;
    }

.match-bg {
    position: relative;
}

    .match-bg:before {
        content: '';
        background: white;
        width: 120vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .match-bg h1, .match-bg h2, .match-bg h3, .match-bg h4, .match-bg h5, .match-bg h6 {
        padding-top: 20px;
    }

.block.downloads {
    background: #f2f2f2;
    padding: 40px 20px;
    margin: 2rem 0;
}

    .block.downloads .download {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid #ccc;
    }

@media screen and (max-width:69.25rem) {
    .block.downloads .download

{
    display: block;
    text-align: left;
}

}

.block.downloads .download:first-of-type {
    border-top: 1px solid #ccc;
}

.block.downloads h1 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.block.downloads figure img, .block.downloads figure a, .block.downloads .filename img, .block.downloads .filename a, .block.downloads .download-link img, .block.downloads .download-link a {
    display: inline-block;
    vertical-align: middle;
}

.block.downloads figure {
    margin: 0;
    padding: 0 20px 0 0;
}

@media screen and (max-width:69.25rem) {
    .block.downloads figure

{
    display: none;
}

}

.block.downloads .filename {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

    .block.downloads .filename a {
        color: #333;
    }

.block.downloads .download-link {
    font-weight: bold;
}

.block.call-to-action {
    position: relative;
    /*background: #21558c;*/
    background: #0021A5;
    color: #fff;
    padding: 60px 0;
    margin: 0 0 2rem 0;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
    font-size: 2.2rem;
}

    .block.call-to-action:before {
        content: '';
        background: #0021A5;
        width: 100vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .block.call-to-action a.button {
        background: transparent;
        border: 1px solid #fff;
    }

        .block.call-to-action a.button:hover {
            background: #FA4616;
        }

@media screen and (max-width:46.1875rem) {
    .block.call-to-action
{
    font-size: 2rem;
    padding: 40px 0;
}

}

.block.call-to-action a.button {
    font-size: 1.25rem;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
    font-weight: normal;
    text-align: center;
}

.block.blockquote {
    margin: 30px 0;
}

    .block.blockquote .bubble {
        background: #21558c;
        color: #fff;
        padding: 30px;
        border-radius: 4px;
        position: relative;
        margin-bottom: 6px;
        background: linear-gradient(135deg,#21558c 0,#21558c 90%,#041c4d 90%,#041c4d 100%);
    }

        .block.blockquote .bubble a.button {
            background: transparent;
            border: 1px solid #fff;
        }

            .block.blockquote .bubble a.button:hover {
                background: #041c4d;
            }

@media screen and (min-width:48rem) {
    .block.blockquote .bubble {
        font-size: 1.75rem;
    }
}

.block.blockquote .bubble::after {
    content: url('/static/images/speech-bubble-bottom.svg?8af32dee35d4');
    position: absolute;
    bottom: -32px;
    left: 0;
    transform: scale(0.5);
}

@media screen and (min-width:48rem) {
    .block.blockquote .bubble::after {
        bottom: -44px;
        left: auto;
        transform: none;
    }
}

.block.blockquote .author {
    margin-left: 45px;
}

@media screen and (min-width:48rem) {
    .block.blockquote .author {
        margin-left: 95px;
    }
}

@media screen and (min-width:48rem) {
    .block.blockquote .author .photo img {
        width: 70px;
        height: 70px;
    }
}

.block.image .fullwidth-picture {
    height: 420px;
    background-size: cover;
    background-position: center;
}

    .block.image .fullwidth-picture + figcaption {
        padding-left: 10px;
        padding-right: 10px;
    }

.block.image figure {
    margin: 3rem 0;
}

    .block.image figure figcaption {
        margin: 1rem 0;
        font-weight: normal;
        color: #999;
        font-size: .9em;
    }

.block.image.hero .fullwidth-picture {
    height: 360px;
}

.block.image.hero figure {
    margin: 0;
}

.block.image.square {
    max-width: 22em;
    float: right;
    margin: .5em 18em 1em 1em;
}

    .block.image.square figure {
        margin: 0;
    }

.text .wrap {
    max-width: 880px;
}

.block::after {
    clear: both;
    content: "";
    display: table;
}

.block.fullwidth .wrap {
    padding-right: 2rem;
}

main.content .text:first-child {
    padding-top: 1.23em;
}

main.content .text:last-child {
    padding-bottom: 1.23em;
}

.rich-text img {
    max-width: 100%;
    height: auto;
}

.rich-text ul, .rich-text ol {
    margin-left: 1.55rem;
    margin-bottom: 1.5rem;
}

    .rich-text ul li, .rich-text ol li {
        margin-bottom: .2em;
    }

    .rich-text ul ol, .rich-text ul ul, .rich-text ol ol, .rich-text ol ul {
        margin-bottom: .5em;
    }

.rich-text a {
    color: #093fae;
    text-decoration: underline;
}

.responsive-object {
    position: relative;
}

    .responsive-object iframe, .responsive-object object, .responsive-object embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.block.paragraph.text {
    background-color: white;
    padding: 20px 0 0 0;
}

    .block.paragraph.text .wrap {
    }

main .block.call-to-action:last-child {
    margin-bottom: 0;
}

.inner-content > article > .block.call-to-action.fullwidth:nth-of-type(1) {
    margin-top: -1.3rem;
}

.block.table table {
    width: 100%;
    border-collapse: collapse;
}

.block.table table, .block.table th, .block.table td {
    border: 1px solid #ccc;
}

.block.table th, .block.table td {
    padding: 10px;
}

.block.table th {
    background-color: #21558c;
    font-weight: bold;
    text-align: left;
    color: white;
}

.block.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.people {
    margin-top: -40px;
}

    .people .card {
        padding-top: 70px;
    }

        .people .card .inner, .people .card .inner-circle {
            padding-top: 70px;
        }

        .people .card .image {
            width: 140px;
            height: 140px;
            min-width: initial;
            min-height: initial;
            border-radius: 100%;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
            background-position: top;
        }

    .people .card {
        margin-bottom: 40px;
    }

        .people .card p.excerpt {
            margin-bottom: 1.5rem;
        }

        .people .card .shapes {
            display: none;
        }

    .people .card {
        text-align: center;
    }

@media screen and (max-width:69.25rem) {
    .people .card .inner
{
    padding-bottom: 0;
}

}

.people .card .inner .image {
    background-color: #ccc;
}

.people .card h1, .people .card h2 {
    color: #3a559c;
    font-weight: bold;
}

.people .card .website a {
    display: inline-block;
    border-bottom: 1px solid;
}

.people .card .website, .people .card .institutions, .people .card .research-groups, .people .card a.button.cta {
    margin-top: 2em;
}

.template-person-page .inner-page .article-header h1, .template-institution-page .inner-page .article-header h1 {
    margin-bottom: 0;
}

.template-person-page .academic-title, .template-institution-page .academic-title {
    font-weight: normal;
}

.template-person-page .job-title, .template-institution-page .job-title {
    font-size: 2rem;
}

.template-person-page .sub-title, .template-institution-page .sub-title {
    font-size: 2rem;
}

.template-person-page .links p a, .template-institution-page .links p a {
    word-break: break-all;
    -ms-word-break: break-all;
    text-decoration: underline;
}

.template-person-page .publications, .template-institution-page .publications {
    background: #fff;
    margin-top: 20%;
    padding: 10%;
}

.template-person-page .website, .template-person-page .email, .template-institution-page .website, .template-institution-page .email {
    margin-bottom: 1em;
}

    .template-person-page .website::after, .template-person-page .email::after, .template-institution-page .website::after, .template-institution-page .email::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin-top: 10px;
        background-color: #ccc;
    }

.categories .wrap {
    max-width: 57rem;
}

.facts-and-figures-container {
    padding: 0;
    position: relative;
}

    .facts-and-figures-container:before {
        content: '';
        background: white;
        width: 120vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .facts-and-figures-container .facts-and-figures {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
    }

        .facts-and-figures-container .facts-and-figures .card {
            text-align: center;
            margin-bottom: 0;
        }

            .facts-and-figures-container .facts-and-figures .card.has-link:hover .inner {
                box-shadow: 0 1px 5px #d9d9d9;
            }

            .facts-and-figures-container .facts-and-figures .card .inner {
                background: #f2f2f2;
                border-radius: 6px;
                border: 0;
            }

            .facts-and-figures-container .facts-and-figures .card .header figure {
                margin: 0;
                background: #21558c;
                color: #fff;
                padding: 40px;
                height: 100%;
            }

                .facts-and-figures-container .facts-and-figures .card .header figure .value {
                    font-size: 2rem;
                }

@media screen and (min-width:46.1875rem) {
    .facts-and-figures-container .facts-and-figures .card .header figure .value
{
    font-size: 2.5rem;
}

}

.facts-and-figures-container .facts-and-figures .card .header figure figcaption {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.facts-and-figures-container .facts-and-figures .card.red {
    color: #FA4616;
}

    .facts-and-figures-container .facts-and-figures .card.red figure {
        background: #FA4616;
    }

    .facts-and-figures-container .facts-and-figures .card.red a.button.cta {
        color: #FA4616;
    }

        .facts-and-figures-container .facts-and-figures .card.red a.button.cta:hover {
            background: #FA4616;
            color: #fff;
        }

.facts-and-figures-container .facts-and-figures .card.green {
    color: #218C58;
}

    .facts-and-figures-container .facts-and-figures .card.green figure {
        background: #218C58;
    }

    .facts-and-figures-container .facts-and-figures .card.green a.button.cta {
        color: #218C58;
    }

        .facts-and-figures-container .facts-and-figures .card.green a.button.cta:hover {
            background: #218C58;
            color: #fff;
        }

.facts-and-figures-container .facts-and-figures .card.blue {
    color: #21558c;
}

    .facts-and-figures-container .facts-and-figures .card.blue figure {
        background: #21558c;
    }

    .facts-and-figures-container .facts-and-figures .card.blue a.button.cta {
        color: #21558c;
    }

        .facts-and-figures-container .facts-and-figures .card.blue a.button.cta:hover {
            background: #21558c;
            color: #fff;
        }

@media screen and (min-width:43.75rem) {
    .facts-and-figures-container .facts-and-figures .card.featured {
        margin-bottom: 0;
    }

        .facts-and-figures-container .facts-and-figures .card.featured .header {
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            box-ordinal-group: 1;
            -webkit-order: 1;
            -moz-order: 1;
            order: 1;
            -ms-flex-order: 1;
        }

            .facts-and-figures-container .facts-and-figures .card.featured .header figure figcaption {
                font-size: 2rem;
            }

        .facts-and-figures-container .facts-and-figures .card.featured .content {
            -webkit-box-ordinal-group: 2;
            -moz-box-ordinal-group: 2;
            box-ordinal-group: 2;
            -webkit-order: 2;
            -moz-order: 2;
            order: 2;
            -ms-flex-order: 2;
        }

        .facts-and-figures-container .facts-and-figures .card.featured .inner, .facts-and-figures-container .facts-and-figures .card.featured a.full-link {
            width: 80%;
        }

        .facts-and-figures-container .facts-and-figures .card.featured .inner {
            margin: 0 auto;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
        }

        .facts-and-figures-container .facts-and-figures .card.featured a.full-link {
            left: 50%;
            transform: translateX(-50%);
        }

        .facts-and-figures-container .facts-and-figures .card.featured a.button.cta {
            position: relative;
            left: auto;
            transform: none;
        }
}

.facts-and-figures-container .facts-and-figures .card .excerpt {
    font-size: 1.2rem;
}

.facts-and-figures-container .facts-and-figures .card a.button.cta {
    border-color: #f2f2f2;
}

.inner-page .facts-and-figures-container .wrap {
}

.template-blog-index-page .cards .card, .related-content .cards .card {
    padding-bottom: 25px;
}

.template-blog-page .meta {
    margin: 1rem 0;
}

    .template-blog-page .meta .date {
        /*font-family: "Montserrat",sans-serif;*/
        font-family: "Raleway",sans-serif;
    }

.template-blog-page .post-share {
    font-size: 40px;
    border-top: 1px solid #041c4d;
    border-bottom: 1px solid #041c4d;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 880px;
}

    .template-blog-page .post-share a {
        padding: 20px;
    }

        .template-blog-page .post-share a:hover {
            color: #FA4616;
        }

.template-blog-page .tags a.tag {
    display: inline-block;
    border-bottom: 1px solid;
    margin-right: 10px;
    margin-bottom: 10px;
}

.resources {
    display: block;
    margin: 0;
}

    .resources .card {
        max-width: none;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }

        .resources .card.normal {
            max-width: 100%;
            min-width: 100%;
            width: 100%;
        }

        .resources .card:first-child {
            margin-top: 0;
        }

        .resources .card .download {
            float: right;
        }

        .resources .card .content-wrapper {
            display: flex;
            flex-direction: column;
        }

@media screen and (min-width:46.1875rem) {
    .resources .card .content-wrapper
{
    flex-direction: row;
}

}

.resources .card .content-wrapper .header {
    flex: 1;
    max-width: 250px;
}

.resources .card .content-wrapper .content {
    flex: 2;
}

.resources .card .fa.file::before {
    content: "\f016";
}

.resources .card .date, .resources .card .filesize, .resources .card .filetype {
    padding-left: 20px;
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

    .resources .card .date:last-child, .resources .card .filesize:last-child, .resources .card .filetype:last-child {
        margin-right: 0;
    }

    .resources .card .date i.fa, .resources .card .filesize i.fa, .resources .card .filetype i.fa {
        position: absolute;
        left: 0;
        top: 3px;
    }

.resources .zip .fa.file::before, .resources .7z .fa.file::before, .resources .rar .fa.file::before, .resources .tar .fa.file::before, .resources .gz .fa.file::before, .resources .bz2 .fa.file::before {
    content: "";
}

.resources .mp3 .fa.file::before, .resources .wav .fa.file::before, .resources .flac .fa.file::before, .resources .ogg .fa.file::before {
    content: "";
}

.resources .html .fa.file::before, .resources .css .fa.file::before, .resources .json .fa.file::before, .resources .js .fa.file::before, .resources .py .fa.file::before, .resources .c .fa.file::before, .resources .cpp .fa.file::before, .resources .java .fa.file::before, .resources .vala .fa.file::before, .resources .sh .fa.file::before, .resources .perl .fa.file::before, .resources .scss .fa.file::before, .resources .htm .fa.file::before, .resources .rb .fa.file::before, .resources .lua .fa.file::before {
    content: "";
}

.resources .jpg .fa.file::before, .resources .jpeg .fa.file::before, .resources .png .fa.file::before, .resources .bmp .fa.file::before, .resources .tiff .fa.file::before, .resources .gif .fa.file::before {
    content: "";
}

.resources .mp4 .fa.file::before, .resources .mov .fa.file::before, .resources .mpg .fa.file::before, .resources .mkv .fa.file::before, .resources .swf .fa.file::before {
    content: "";
}

.resources .txt .fa.file::before, .resources .md .fa.file::before, .resources .rst .fa.file::before {
    content: "";
}

.resources .doc .fa.file::before, .resources .docx .fa.file::before, .resources .docm .fa.file::before, .resources .odt .fa.file::before {
    content: "";
}

.resources .xls .fa.file::before, .resources .xlsx .fa.file::before, .resources .ods .fa.file::before {
    content: "";
}

.resources .ppt .fa.file::before, .resources .pptx .fa.file::before, .resources .odp .fa.file::before {
    content: "";
}

.resources .pdf .fa.file::before {
    content: "";
}

.inner-page .article-header {
    max-width: 85%;
    margin: 0 auto;
}

@media screen and (max-width:46.1875rem) {
    .inner-page .article-header
{
    max-width: 100%;   
}

}

.inner-page .article-header h1 {
    margin-bottom: 3rem;
}

.inner-page .introduction {
    font-weight: 500;
}

.inner-page .inner-content-wrapper {
    position: relative;
       
}

.inner-page .inner-content {
    position: relative;
    padding: 20px 0 40px 0;
    margin-top: 20px;
}

    .inner-page .inner-content:before {
        content: '';
        background: white;
        width: 120vw;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

@media scrreen and (min-width:50rem) {
    .inner-page .inner-content article
{
    max-width: 85%;
    margin: 0 auto;
}

}

@media screen and (max-width:46.1875rem) {
    .inner-page .inner-content article

{
    max-width: 100%;
}

}

.inner-page .related-content {
    padding: 4.2358em 0;
}

    .inner-page .related-content h2 {
        text-align: center;
        text-transform: uppercase;
    }

        .inner-page .related-content h2 strong {
            font-weight: normal;
        }

    .inner-page .related-content .cards {
        margin-bottom: 4.2358em;
    }

.article-header {
    position: relative;
    z-index: 1;
}

.profile {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 3rem;
}

    .profile .profile-image {
        background: #fff;
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 100%;
        -webkit-box-flex: none;
        -moz-box-flex: none;
        box-flex: none;
        -webkit-flex: none;
        -moz-flex: none;
        -ms-flex: none;
        flex: none;
    }

        .profile .profile-image img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: block;
        }

    .profile .info {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

@media screen and (min-width:69.25rem) {
    .profile .info {
        margin-left: 1rem;
    }
}

.author {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -moz-align-content: center;
    align-content: center;
    -ms-flex-line-pack: center;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
}

    .author .photo {
        float: left;
        margin-right: 1rem;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        box-direction: normal;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
    }

        .author .photo img {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

@media screen and (min-width:69.25rem) {
    .author .photo img {
        width: 70px;
        height: 70px;
    }
}

.author .info {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

    .author .info .name {
        color: #333;
        font-weight: bold;
        font-size: 1.375rem;
    }

    .author .info .job-title {
        font-size: 1.15rem;
    }

.table-of-contents-menu {
    display: none;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 15px;
    overflow: hidden;
    align-self: flex-start;
    margin-top: 10px;
}

    .table-of-contents-menu h2 {
        background-color: #041c4d;
        color: #fff;
        font-size: .8em;
        margin: -15px -15px 0;
        opacity: .8;
        padding: 12px 15px;
        text-transform: uppercase;
    }

    .table-of-contents-menu #table-of-contents > ul > li {
        border-bottom: 1px solid #ccc;
        list-style-type: none;
        padding: 10px 0;
    }

        .table-of-contents-menu #table-of-contents > ul > li ul li {
            font-size: .8em;
            list-style-type: disc;
            opacity: .5;
            padding: 5px 0 0 0;
        }

            .table-of-contents-menu #table-of-contents > ul > li ul li:last-child {
                padding-bottom: 5px;
            }

            .table-of-contents-menu #table-of-contents > ul > li ul li:hover {
                opacity: 1;
            }

        .table-of-contents-menu #table-of-contents > ul > li a[href="#on-this-page"] {
            display: none;
        }

    .table-of-contents-menu #table-of-contents > ul li a {
        width: 100%;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
    }

        .table-of-contents-menu #table-of-contents > ul li a:hover {
            text-decoration: underline;
        }

    .table-of-contents-menu.floating {
        position: fixed;
        top: 0;
    }

@media screen and (min-width:60rem) {
    .table-of-contents-menu

{
    display: block;
}

}

.inner-content {
    display: flex;
}

@media screen and (max-width:46.1875rem) {
    .inner-content;

{
    display: block;   
}

}

.inner-content aside.metadata {
    max-width: 20%;
    min-width: 20%;
    margin-right: 20px;
}

@media screen and (max-width:46.1875rem) {
    .inner-content aside.metadata

{
    display: block;
    /*max-width: 100%;
    min-width: 100%;*/
    width: 100%;
}

}

.inner-content aside.metadata h2 {
    text-transform: uppercase;
    font-size: .9em;
}

.inner-content aside.metadata .categories {
    margin: -10px 0 30px 0;
}

    .inner-content aside.metadata .categories a.button:first-of-type {
        margin-left: 0;
    }

.inner-content aside.metadata .tags a.tag {
    color: #041c4d;
    background: transparent;
    border: 1px solid #041c4d;
    border-radius: 6px;
    padding: 2px 6px;
    font-weight: normal;
    margin: .6rem 0 0 .1rem;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
    font-size: .75rem;
}

    .inner-content aside.metadata .tags a.tag:hover, .inner-content aside.metadata .tags a.tag.active {
        background: #041c4d;
        color: #fff;
    }

    .inner-content aside.metadata .tags a.tag:first-of-type {
        margin-left: 0;
    }

.inner-content article {
    flex: 1;
    max-width: 80%;
}

@media screen and (max-width:46.1875rem) {
    .inner-content article
{
    max-width: 100%;
}

}

.inner-content aside.right-sidebar {
    min-width: 20%;
    max-width: 20%;
    margin-left: 20px;
}

.template-standard-page .inner-content article, .template-person-page .inner-content article, .template-institution-page .inner-content article, .template-blog-page .inner-content article {
    max-width: none;
}

@media screen and (min-width:50rem) {
    .template-standard-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-person-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-institution-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-blog-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action)
{
    max-width: 100%;
    margin: 0px auto;
    margin-left: -160px;
}

}

@media screen and (max-width:46.1875rem) {
    .template-standard-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-person-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-institution-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action),.template-blog-page .inner-content article>:not(.facts-and-figures-container):not(.cards-container):not(.call-to-action)
{
    max-width: 100%;
}

}

.template-standard-page .inner-content article .article-header, .template-person-page .inner-content article .article-header, .template-institution-page .inner-content article .article-header, .template-blog-page .inner-content article .article-header {
    max-width: 85%;
}

.template-person-page .inner-content aside.metadata, .template-institution-page .inner-content aside.metadata, .template-blog-page .inner-content aside.metadata {
    margin-right: -30px;
}

main.content.search {
    padding: 4.2358em 0;
}

    main.content.search h1 {
        margin-bottom: 40px;
    }

    main.content.search .wrap {
        padding: 0 1rem;
        max-width: 41.5rem;
    }

    main.content.search form {
        margin-bottom: 40px;
        position: relative;
    }

    main.content.search a.fa {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    main.content.search input[name="query"] {
        padding: 10px;
        width: 100%;
    }

    main.content.search input[type="submit"] {
        display: none;
    }

    main.content.search ul.search-results {
        padding: 0;
        margin-bottom: 40px;
    }

        main.content.search ul.search-results li {
            list-style-type: none;
            padding: 10px;
            margin-bottom: 10px;
        }

            main.content.search ul.search-results li .query {
                font-weight: bold;
            }

            main.content.search ul.search-results li a {
                font-size: 1.25rem;
            }

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

html {
    color: #333;
    background-color: #f2f2f2;
    /*font-family: "Lato",sans-serif;*/
    font-family: "Raleway",sans-serif;
}

body {
    font-size: 1.1rem;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    color: #041c4d;
    margin: .3em 0;
}

h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 1.688rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.3rem;
}

h9 {
    font-size: 2.625rem;
    margin-left: -72px;
    font-family: "Raleway",sans-serif;
    font-weight: bold;
    color: #041c4d;
}

p {
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
}

small {
    font-size: .8125rem;
}

h1.wrap {
    max-width: 880px;
}

a {
    text-decoration: none;
    color: #041c4d;
    outline: none;
    transition: color .2s;
}

    a:hover {
        color: #FA4616;
    }

ol, ul {
    margin: 0;
}

    ol ol, ul ol {
        list-style-type: lower-alpha;
    }

a.button {
    background: #21558c;
    display: inline-block;
    color: #fff;
    font-size: .875rem;
    font-weight: bold;
    border-radius: 6px;
    padding: 15px 25px;
    text-decoration: none;
    transition: all .2s ease;
    z-index: 1;
}

    a.button:hover {
        background: #3a559c;
        box-shadow: 0 0 10px 0 white;
    }

.template-home-page h2, .template-home-page h3, .template-home-page h4, .template-home-page h5, .template-home-page h6 {
    text-align: center;
}

.template-home-page .image.has-text {
    min-height: 550px;
}


@media screen and (max-width:46.1875rem) {
    .template-home-page .image.has-text
{
    min-height: 650px;
}

}

@media screen and (min-width:103.125rem) {
    .template-home-page .image.has-text

{
    min-height: 750px;
}

}

.template-home-page .people .card .image {
    background-color: transparent;
}

.pagination {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 10px;
}

    .pagination .label {
        text-transform: uppercase;
        display: inline;
    }

@media screen and (max-width:46.1875rem) {
    .pagination .label
{
    display: block;
}

}

.pagination .page-numbers {
    display: inline;
}

.pagination a.page-no {
    margin-left: 50px;
    position: relative;
    padding: 20px 5px;
    font-size: 1.5rem;
    display: inline-block;
}

@media screen and (max-width:46.1875rem) {
 .pagination a.page-no
{
    margin: 0 25px;
}

}

.pagination a.page-no:hover {
    color: #FA4616;
}

.pagination a.page-no.active::after {
    content: '';
    background-color: #FA4616;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.categories {
}

    .categories a.button {
        color: #041c4d;
        background: transparent;
        border: 1px solid #041c4d;
        padding: 2px 6px;
        font-weight: normal;
        margin-bottom: .6rem;
        margin-right: .3rem;
        /*font-family: "Montserrat",sans-serif;*/
        font-family: "Raleway",sans-serif;
        font-size: .75rem;
    }

        .categories a.button:hover, .categories a.button.active {
            background: #041c4d;
            color: #fff;
        }

    .categories .wrap {
        max-width: 880px;
    }

.match-bg + .facts-and-figures-container {
    margin-top: -20px;
}

.wrap {
    max-width: 71.875rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    height: 215px;
    margin-top: -40px;
}

.wrap_People {
    max-width: 71.875rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    height: 215px;
    margin-top: 50px;
}

.wrap::after {
    clear: both;
    content: "";
    display: table;
}

main.content figure img {
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 600px;
}

.prefooter {
    padding: 40px;
    border-top: 1px solid #ccc;
    background: #fff;
}

    .prefooter .info {
        text-align: center;
    }

@media screen and (min-width:69.25rem) {
    .prefooter .info {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        text-align: right;
    }

        .prefooter .info:last-child {
            margin-right: 0;
        }
}

@media screen and (min-width:69.25rem) {
    .prefooter .banner {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
    }

        .prefooter .banner:last-child {
            margin-right: 0;
        }
}

.prefooter .banner img {
    max-width: 100%;
}

body > footer {
    /*background: #21558c;*/
    background: #0021A5;
    color: #fff;
    /*background: #041c4d url('/static/images/footer7213.png') no-repeat center -20px;
    background: #0021A5 url('/static/images/footer7213.png') no-repeat center -20px*/
    background-size: cover;
    padding: 60px;
    /*font-family: "Montserrat",sans-serif;*/
    font-family: "Raleway",sans-serif;
}

    body > footer a.button {
        background: transparent;
        border: 1px solid #fff;
    }

        body > footer a.button:hover {
            /*background: #041c4d;*/
            background: #0021A5;
        }

@media screen and (max-width:69.25rem) {
    body >footer
{
    background-position: center -100px;
    text-align: center;
     /*height:525px;*/
}

}


@media screen and (max-width:69.25rem) {
    body >footer
{
    background-position: center -100px;
    text-align: center;
    height:525px;
}

}

@media screen and (max-width:46.1875rem) {
    body >footer
{
    background-position: center -100px;
    text-align: center;
    height:525px;
}

}

body > footer nav.bottom-menu {
    border-bottom: 0px solid #041c4d;
    padding-bottom: 25px;
    margin: 40px 0 0 0;
}

    body > footer nav.bottom-menu a {
        color: #fff;
        margin-right: 50px;
    }

        body > footer nav.bottom-menu a:hover {
            color: #FA4616;
        }

@media screen and (max-width:69.25rem) {
    body >footer nav.bottom-menu a

{
    display: inline-block;
    line-height: 2.5;
    margin: 0 20px;
}

}

body > footer .tagline {
    font-size: 1.375rem;
    opacity: .8;
}

body > footer .copyright {
    color: #71a8e2;
    font-size: .88rem;
}

body > footer .tagline, body > footer .copyright {
    display: block;
}

.template-home-page .page-title {
    display: none;
}

.wagtail-userbar .wagtail-userbar-trigger {
    background-color: #21558c;
    color: #fff;
    box-shadow: none!important;
    transition: all .35s;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .wagtail-userbar .wagtail-userbar-trigger:hover {
        box-shadow: 0 1px 5px rgba(0,0,0,0.5)!important;
        background-color: #2764a5!important;
    }

    .wagtail-userbar .wagtail-userbar-trigger.wagtail-icon:before {
        /*font-family: 'FontAwesome'!important;*/
        font-family: 'Raleway';
        content: '\f013'!important;
        margin: 0;
        width: auto;
        transition: all .66s;
        display: inline-block;
    }

.wagtail-userbar.is-active .wagtail-userbar-trigger.wagtail-icon:before {
    transform: rotate(45deg);
}

.article-footer {
    padding: 40px;
}

.ie11 .navigation .navigation-wrapper .header {
    flex: 2;
}

    .ie11 .navigation .navigation-wrapper .header .logo {
        margin-right: -60px;
    }

.ie11 .navigation .navigation-wrapper .menus {
    flex: 3;
}

.richtext-image {
    padding: 20px;
}

    .richtext-image.right {
        float: right;
    }

    .richtext-image.left {
        float: left;
    }

main.content {
    max-width: 71.875rem;
    margin: 0 auto;
    padding: 0 20px;
}

.template-standard-page .banner .image {
    height: auto;
}

.sidebar-layout {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:50rem) {
    .sidebar-layout
{
    flex-direction: row;
}

.sidebar-layout > .categories {
    width: 23%;
    margin: -0.6rem 0 0 -0.3rem;
    padding-right: 20px;
}

.sidebar-layout .cards {
    flex: 1;
}

}

.sidebar-layout .categories h1, .sidebar-layout .categories h2, .sidebar-layout .categories h3, .sidebar-layout .categories h4, .sidebar-layout .categories h5, .sidebar-layout .categories h6 {
    font-weight: normal;
    text-transform: uppercase;
}

.sidebar-layout .cards {
    padding: 0;
}

main.content.login {
    padding: 4em;
}

    main.content.login .wrap {
        padding: 0 1rem;
        max-width: 41.5rem;
    }

    main.content.login h1 {
        margin-bottom: 40px;
    }

    main.content.login form {
        width: 20rem;
    }

    main.content.login input {
        float: right;
    }

        main.content.login input[type="submit"] {
            font-size: 1rem;
            padding: 5px;
        }

    main.content.login .password-reset {
        clear: both;
        font-size: .9rem;
        margin-top: 100px;
    }

main.content.logout {
    padding: 4em;
}

    main.content.logout .wrap {
        padding: 0 1rem;
        max-width: 41.5rem;
    }

    main.content.logout input[type="submit"] {
        font-size: 1rem;
        padding: 5px;
    }

.protected-nav ul li {
    display: inline-block;
    list-style-type: none;
}



.footer-img-class {
    text-align: center;
}

.footer-img {
    width: 25%;
    text-align: center;
    padding: 0px;
    margin-left: 30px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FA4616;
  font-weight:bold;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
}

#myBtn:hover {
  background-color: #B1B3B6;
}